<style>
           .body {
            background-color: black; 
            color: white; 
            font-family: Arial, sans-serif; 
            margin: 0; /* Remove default margin */
            padding: 0; /* Remove default padding */
                 }
             /* Basic CSS for navigation bar */
             .navbar {
                   overflow: hidden;
                         }
                .navbar a {
                   float: Right;
                   display: block;
                   color: black;
                   text-align: Right;
                   padding: 14px 20px;
                   text-decoration: none;
                            }
                 .navbar a:hover {
                    color: black;
                            }
            .heading {
              font-family: Arial, sans-serif;
              text-align: Center; /* Center align all text */
              overflow: hidden;
              color:black;
            }
            .container {
              width: 80%; /* Set container width */
              margin: 0 auto; /* Center align container */
              text-align: center; /* Left align text inside container */
            }
            .section {
              width: 80%; /* Set section width */
              margin: 0 auto 20px; /* Center align section */
              text-align: center; /* Left align text inside section */
            }
            .location {
              text-align: center; /* Left align text within location div */
              margin-left: 20px; /* Adjust margin for location */
            }    
          </style>